<h1> Liste des films </h1>
<% @movies.directors.each do |movie.director| %>
    <p> <%= movie.director.title %>, sortie en <%= movie.director.release_year %>, realiser en <%= movie.director.first_name %></p>
<% end %> 
    